[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
psycopg2-binary = "*"
flask = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
